@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

.header{
    display: flex;
    justify-content: center;
    &_logo {
        @include font;
        font-size: 40px;
    }
}