@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";
@import "../base/main";
@import "../composants/buttons";

.header {
    &_withArrow {
        position: relative;
    }
    &_arrow {
      @include alignItem;
      position: absolute;
      left: 2rem;
      height: 2rem;
      width: 2rem;
      top: 50%;
      display:flex;
      justify-content:center;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: black;
    }
}

.restaurantImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: $background-secondary;
    z-index: 1;
    position: relative;
    &_header {
      @include alignItem;
        padding: 1rem 2rem 0 1rem;
        display: flex;
        justify-content: space-between;
    }
    &_title {
        @include fontprimary ;
    }   
}

.submenus {
    display: grid;
    @media (min-width:64rem) {
      grid-template-columns: repeat(3,1fr);
      column-gap: 1rem;
    }
}

.submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    &_title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: normal; 
      border-bottom: 4px solid $color-tertiary;
      width: 3rem;
      &::after {
        left: 0;
        bottom: 0; 
        position: absolute;       
      }
    }
}

.menuGroup {
  @include backgroundColor;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%; 
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;
  transform: scale(0);
  &_header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  &_title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  } 
  &_description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }  
  &_price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  } 
  &_confirmation {
    @include alignItem;
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    justify-content:center;
    transition-duration: 0.5s;
  } 
  &:hover &_confirmation {
    margin-right: -1rem;
  }
  &_icon {
    @include alignItem;
    @include backgroundColor;
    height: 1.6rem;
    width: 1.6rem;
    display:flex;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;  
  }
  &:hover &_icon {
    transform: rotate(0);
  } 
  &_iconIcon {
    color: $color-tertiary;
  }
}

// Chargement du menu en décalé
@for $i from 0 to 10 {
  .delay-#{$i} {
    animation-delay:  #{$i/10}s;
  }
}

.commandBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
  &_btn {
    @include button(primary);
  }
}