.local {
    display: flex;
    justify-content: center;
    padding: 1.25rem $padding;
    background-color: $background-primary_dark;
    font-size: 1.2rem;
    position: relative;
    &__icon {
      margin-right: 1rem;
    } 
    &__text {
      font-weight: 700;
    }
  }

.exploration {
    padding: 2rem;
    text-align: center;
    background-color: $background-primary; 
    &__title {
      @include marginnull;
    } 
    &__subtitle {
      font-weight: 300;
      margin: 1.5rem 0;
    } 
    &__btn {
      @include button(primary);
    }
  }