@mixin fontprimary {
    font-family: $police-primary, cursive;
}

@mixin fontsecondary {
    font-family: $police-secondary;
}

@mixin marginnull {
    margin: $margin;
}

@mixin backgroundColor {
    background-color: $back-color;
}

@mixin btn_header {
    background: linear-gradient(to top, $color-primary, $color-secondary);
}

@mixin btn_header_hover{ 
    background: linear-gradient(to top, $btn-primary, $btn-secondary);
}

@mixin display {
    display: flex;
    position: relative;
}

@mixin alignItem {
    align-items: center;
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop1 {
    @media screen and (min-width: map-get($breakpoints, desktop1)) {
        @content;
    }
}

@mixin laptop {
    @media all and (min-width: map-get($breakpoints, laptop)) and (max-width: map-get($breakpoints, laptop1)) {
        @content;
    }
}

@mixin tel {
    @media screen and (max-width: map-get($breakpoints, tel)) {
        @content;
    }
}

@mixin microtel {
    @media screen and (max-width: map-get($breakpoints, microtel)) {
        @content;
    }
}